body{
    display:flex;
    margin:0;
    padding:0;
    
}

.calculatorBody{
    margin:auto;
    border:2px solid black;
    margin-top: 300px;
    width:25%;
    padding:20px;
    background-color: rgb(8, 8, 8);
    / align-items: center; /
    

}

#output{

    border:2px solid black;

    height:60px;
    width:100%;
    background-color: rgb(234, 238, 241);
}


.commands{
    display:flex;
    gap:8px;
    width:100% ;
    
    

}


.clear{
    margin-top: 20px;
    width:50%;
    height:50px;
    background-color: rgb(127, 132, 136)

}

.row1{
    width:100%;
    display:flex;
    gap:8px;
    margin-top: 20px;

}

.row1 button{
    width:30%;
    height:25px;
    
}

.operator{
    background-color: rgb(226, 120, 32);
}

#equals{
    background-color: rgb(127, 132, 136);
}

